.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    align-self: flex-start;
    margin-left: 4%;
  }
}

.textarea {
  min-height: 120px;
  width: 90%;
  margin: 1em;
  padding: 8px;
  border: 2px solid #555555;
  font-family: Arial, Helvetica, sans-serif;
}
